doctype html
html
  head
    //title= (title ? title+' | ' : '') + 'Elektropribor Library'
    title= title || "Electronic Library"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
